#loginForms > div:nth-child(2){
  margin-bottom: 40px;
}

h1{
  margin-bottom: 40px;
}

h2{
  font-size: 1.6rem;
}

.navbar-nav > a{
  color: white;
}

header nav button{
  background: white;
}

.modal .modal-dialog .modal-content .modal-body p{
  color: red;
}

/*CLASS TO STYLE CURRENT LINK*/
.currentLink{
  color: red !important;
  text-decoration: underline;
}

.navbar-form{
  margin-top: 10px;
  width: 306px;
}

.navbar-form .btn{
  background-color: white !important;
}

.container > h1:nth-child(1){
  margin-top: 45px;
}

.form-check{
  display: inline-block;
  margin-bottom: 10px;
  /*padding-left: 1.25rem;*/
  position: relative;
  width: 100%;
}

.form-check-input{
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

.form-check-label{
  margin-right: .75rem;
}

#exampleFormControlSelect2{
  margin-bottom: 10px;
}

#textarea{
  width: 100%;
}

.form-group{
  float: left;
  margin-right: 5%;
}
